@import "tailwindcss";


* {
    font-family: Outfit;
}

::-webkit-scrollbar {
    display: none;
}

.bg-primary {
    background-color: rgb(95 111 255) !important;
}

.bg-primary {
    background-color: rgb(95 111 255) !important;
}

